li {
    display:inline;
    border-radius: 10%;
    border: 1 px solid black; 
    padding:15px;
    background-color: mediumaquamarine;
}

li:hover {
    background-color: rgb(89, 182, 151);
}

a {
    color:seashell;
    font-size: 30px;
    text-decoration: none;
}

h1 {
    color: rgb(222, 120, 97);
    text-align: center;
    font-size: 70px;
    font-family: 'Brush Script MT', cursive;
}

.ocean {
 

}

.review {
    border-style:solid;
    border-width:6px;
    border-color:mediumaquamarine;
    background-color:seashell;
    color:mediumaquamarine;
}
